.blog-back{
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.list-blog{
  background-image: url("https://assets-global.website-files.com/5eff9c5e4dba181f8aa2d1e0/644fdb0444461008ee1907ee_Workflow%20Automation%20Statistics%20You%20Need%20to%20Know%20Header.jpg");
  background-size: cover;
  background-position: center;
}

.header-top{
  padding: 100px 0;
  background-image:linear-gradient(to left, #20a15a3e, #20a159), url('');
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  
  
}

.header-text{
  color: whitesmoke;
  font-size: 50px;
  font-weight: bold;
}
.vid-manage-bg{
  background-size:contain;
}