.blog-back{
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.list-blog{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHiRh9tl2bdJz_lNPbOu-AUXl3k01ragl34xnrdS2OgA&usqp=CAU&ec=48665701");
  background-size: cover;
  background-position: center;
  min-height: 400vh;
  

}

.header-top{
  padding: 100px 0;
  background-image:linear-gradient(to left, #20a15a3e, #20a159), url('');
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  
  
}

.header-text{
  color: whitesmoke;
  font-size: 50px;
  font-weight: bold;
}
.vid-manage-bg{
  background-size:contain;
}